<div class="top-navigation">
	<div class="t-menu">导航,点击展开</div>
	<div class="t-img">
		<img src="images/lines.png" alt="" />
	</div>
	<div class="clearfix"></div>
</div>
<div class="drop-navigation drop-navigation">
	<ul class="nav nav-sidebar">
		<li class="active"><a href="/" class="home-icon"><span
				class="glyphicon glyphicon-home" aria-hidden="true"></span>星辰吧主页</a></li>
		<li><a href="/bbs/0" class="user-icon"><span
				class="glyphicon glyphicon-home glyphicon-blackboard"
				aria-hidden="true"></span>星辰会所,顶级外围,全国空降</a></li>
		<li><a href="/listNewVideo/0" class="user-icon"><span
				class="glyphicon glyphicon-home glyphicon-blackboard"
				aria-hidden="true"></span>最新视频</a></li>
		<li><a href="/listHotVideo/0" class="sub-icon"><span
				class="glyphicon glyphicon-home glyphicon-hourglass"
				aria-hidden="true"></span>最多播放</a></li>
		<li><a class="menu1"><span class="glyphicon glyphicon-film"
				aria-hidden="true"></span>视频分类<span
				class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
		<ul class="cl-effect-2">
			<li><a href="/listVideo/china/0">国产</a></li>
			<li><a href="/listVideo/china-better/0">国产精品</a></li>
			<li><a href="/listVideo/america/0">欧美</a></li>
			<li><a href="/listVideo/dongman/0">动漫</a></li>
			<!-- <li><a href="/listVideo/qunjiao/0">群交</a></li> -->
			<li><a href="/listVideo/gangjiao/0">肛交</a></li>
			<li><a href="/listVideo/yanshe/0">颜射</a></li>
			<li><a href="/listVideo/japan/0">日本</a></li>
			<li><a href="/listVideo/pornhub-asia/0">亚洲自拍</a></li>
			<li><a href="/listVideo/mote/0">模特</a></li>
			<li><a href="/listVideo/nenmo/0">嫩模</a></li>
		</ul>
		<!-- script-for-menu -->
		<script>
							$( "li a.menu1" ).click(function() {
							$( "ul.cl-effect-2" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>

		<li><a class="menu2"><span
				class="glyphicon glyphicon-film glyphicon-king" aria-hidden="true"></span>日本女优<span
				class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
		<ul class="cl-effect-1">
			<li><a href="/listVideo/AmeriIchinose/0">AmeriIchinose</a></li>
			<li><a href="/listVideo/cangjingkong/0">苍井空</a></li>
			<li><a href="/listVideo/boduoyejieyi/0">波多野结衣</a></li>
			<li><a href="/listVideo/taoguhuilixiang/0">桃谷绘里香</a></li>
		</ul>
		<!-- script-for-menu -->
		<script>
			$( "li a.menu2" ).click(function() {
			$( "ul.cl-effect-1" ).slideToggle( 300, function() {
			// Animation complete.
			});
			});
		</script>
		<li><a class="menu4"><span class="glyphicon glyphicon-star"
				aria-hidden="true"></span>欧美女优<span
				class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
		<ul class="cl-effect-3">
			<li><a href="/listVideo/anjelica/0">安吉莉卡</a></li>
			<li><a href="/listVideo/belle knox/0">Belle knox</a></li>
			<li><a href="/listVideo/LanaRHoades/0">LanaRHoades</a></li>
			<li><a href="/listVideo/MiaKhalifa/0">MiaKhalifa</a></li>
			<li><a href="/listVideo/RileyReid/0">RileyReid</a></li>
			<li><a href="/listVideo/Mia Malkova/0">Mia Malkova</a></li>
			<li><a href="/listVideo/Brandi Love/0">Brandi Love</a></li>
			<li><a href="/listVideo/Adriana Chechik/0">Adriana Chechik</a></li>
			<li><a href="/listVideo/Nicole Aniston/0">Nicole Aniston</a></li>
			<li><a href="/listVideo/Lena Paul/0">Lena Paul</a></li>
			<li><a href="/listVideo/Lisa Ann/0">Lisa Ann</a></li>
			<li><a href="/listVideo/Alexis Texas/0">Alexis Texas</a></li>
		</ul>
		<!-- script-for-menu -->
		<script>
							$( "li a.menu4" ).click(function() {
							$( "ul.cl-effect-3" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
		<li><a class="menu3"><span class="glyphicon glyphicon-music"
				aria-hidden="true"></span>个人信息<span
				class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
		<ul class="cl-effect-4">
			<li onclick="information()"><a href="javascript:void(0)">个人信息</a></li>
			<li><a href="/information">账户余额</a></li>
			<li><a href="/information">个人资产STAR</a></li>
			<li><a href="/information">充值</a></li>
			<li><a href="http://www.luoboka.com/category/D28907B042DC38F3">购卡</a></li>
		</ul>
		<script>
							$( "li a.menu3" ).click(function() {
							$( "ul.cl-effect-4" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
		<li><a href="/email/inbox/0" class="news-icon"><span
				class="glyphicon glyphicon-envelope" aria-hidden="true"></span>邮件</a></li>
	</ul>
	<!-- script-for-menu -->
	<script>
							$( ".top-navigation" ).click(function() {
							$( ".drop-navigation" ).slideToggle( 300, function() {
							// Animation complete.
							});
							});
						</script>
</div>