<!DOCTYPE HTML>
<html>
<head>
<title>全国外围女商务模特同城约会约炮</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<link href="/css/dashboard.css" rel="stylesheet"/>
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' media="all" />
<link href="/css/jquery.pagination.css" rel="stylesheet" type="text/css"></link>
<!--start-smoth-scrolling-->
<script src="/js/jquery.pagination.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
	Date.prototype.format = function(format)
{
 var o = {
 "M+" : this.getMonth()+1, //month
 "d+" : this.getDate(),    //day
 "h+" : this.getHours(),   //hour
 "m+" : this.getMinutes(), //minute
 "s+" : this.getSeconds(), //second
 "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
 "S" : this.getMilliseconds() //millisecond
 }
 if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
 (this.getFullYear()+"").substr(4 - RegExp.$1.length));
 for(var k in o)if(new RegExp("("+ k +")").test(format))
 format = format.replace(RegExp.$1,
 RegExp.$1.length==1 ? o[k] :
 ("00"+ o[k]).substr((""+ o[k]).length));
 return format;
}
function goVideoPlay(element){
	var id=$(element).attr('data-id');
	if(id !== '' && id !== null){
		window.location="/goVideoPlay?id="+id;
	}
}
$(function(){
	$("img").addClass("img-rounded");
	var count = $('#countvideos').attr('count');
	var curpage = $('#curpage').attr('curpage')*1+1;
	var videotype = $('#videotype').attr('videotype');
	var pageCount = Math.ceil(count / 24);
	$("#pagination3").pagination({
		currentPage: curpage,
		totalPage: pageCount,
		isShow: true,
		count: 3,
		homePageText: "首页",
		endPageText: "尾页",
		prevPageText: "上一页",
		nextPageText: "下一页",
		callback: function(current) {
			window.location.href = "/listNewVideo/"+(current*1-1);
		}
	});
	$(".videoTime").each(function(){
		$(this).html(new Date($(this).attr('longtime')*1).format('yyyy-MM-dd'));
	});
});

/*]]> */
</script>
<style type="text/css">
	.ui-pagination-container {
	text-align: center;
}
</style>
</head>
	<div style="display: none" id="countvideos" th:attr="count=${count}"></div>
	<div style="display: none" id="curpage" th:attr="curpage=${curpage}"></div>
	<div style="display: none" id="videotype" th:attr="videotype=${name}"></div>
  <body>

   		   <!-- HEADER -->
		   <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
		   		<script type="text/javascript">
		   			$("#header").load("/headerss");
		   		</script>
		   </nav>
		   


    		<div id="leftdh" class="col-sm-3 col-md-2 sidebar">
				<!--左侧导航 -->
				<script type="text/javascript">
					$("#leftdh").load("/leftdh");
				</script>
        	</div>
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-grids">
				<div class="recommended">
					<div class="recommended-grids english-grid">
						<div class="recommended-info">
							<div class="heading">
								<h3>视频列表,欢迎来到星辰会所,你将享受到天堂般的服务</h3>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-2 resent-grid recommended-grid slider-top-grids" th:each="video: ${videos}"  >
							<a class="goVideoPlay" href="javascript:void(0);" onclick="goVideoPlay(this)" th:attr="data-id=${video.id}">
								<div class="resent-grid-poster-img recommended-grid-img" >
									<img alt="" th:src=" @{https://talent-elg.s3.amazonaws.com/{imgkey}(imgkey=${video.picKey})}"/>
								</div>
							</a>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a class="title goVideoPlay" href="javascript:void(0);" onclick="goVideoPlay(this)" th:attr="data-id=${video.id}" th:text="${video.title}"></a></h5>
								<p class="author"><a class="goVideoPlay videoTime" href="javascript:void(0);" onclick="goVideoPlay(this)" th:attr="data-id=${video.id},longtime=${video.uploadTime}" >星辰会所</a></p>
								<p class="views" th:text="${video.playTimes}+'views'"></p>
							</div>
						</div>
						
						<div class="clearfix"> </div>
					</div>
				</div>
				<div id="pagination3"></div>
			</div>
			<!-- //footer -->
		</div>
		<div class="clearfix"> </div>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/commanjs/account.js"></script>
    <script src="/commanjs/util.js"></script>
    
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>