<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png"/>
    <title>全球最大的华人约炮平台</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- chartist CSS -->
    <link href="/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet"/>
    <link href="/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet"/>
    <link href="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <!-- You can change the theme colors from here -->
    <link href="/assets/css/colors/blue.css" id="theme" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/cropper.min.css"/>
    <link rel="stylesheet" href="/css/ImgCropping.css"/>
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="/js/jquery.pagination.min.js"></script>
    <link href="/css/jquery.pagination.css" rel="stylesheet" type="text/css"></link>
    <link href="/assets/plugins/summernote/dist/summernote.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style>
.ui-pagination-container {
	text-align: center;
}
</style>
</head>

<body class="fix-header fix-sidebar card-no-border">
	<!-- 隐藏域 -->
	<input type="text" id="accountid" style="display: none" th:value="${session.account.id}" />
	<input type="text" id="accountName" style="display: none" th:value="${session.account.name}" />
	<input type="text" id="accountEmail" style="display: none" th:value="${session.account.email}" />
	


    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/ ">
                        <b>
                          <i class="wi wi-sunset"></i> 
                        </b>
                       	<span>
	                       		 <strong> 星辰社区</strong>
                         </span> 
                     </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated slideInUp" aria-labelledby="2">
                                <ul>
									<li>
										<div class="drop-title">您有未读邮件</div>
									</li>
									<li>
										<div th:each="notreademail: ${session.NotReadEmaillist}">
											<!-- Message -->
											<a th:href="'/email/emaildetal/?id='+${notreademail.email.id}"	style="border-bottom: 1px solid rgba(120, 130, 140, 0.13); display: block; text-decoration: none; padding: 9px 15px;">
												<div class="user-img" style="width: 40px; position: relative; display: inline-block; margin: 0 10px 15px 0;">
													<img style="width: 40px" th:src="${notreademail.account.picPath}" alt="user"	class="img-circle" />
													 <span style="border: 2px solid #ffffff; border-radius: 50%; display: inline-block; height: 10px; left: 30px; position: absolute; top: 1px; width: 10px;" class="profile-status online pull-right"></span>
												</div>
												<div class="mail-contnet" style="display: inline-block; width: 75%; vertical-align: middle;">
													<h5 th:text="${notreademail.account.email}"	style="margin: 5px 0px 0;"></h5>
													<span class="mail-desc"	th:text="${notreademail.email.title}" style="font-size: 12px; display: block; margin: 1px 0; text-overflow: ellipsis; overflow: hidden; color: #67757c; white-space: nowrap;"></span>
													<span class="time publishtime" th:text="${notreademail.email.sendTime}"	style="font-size: 12px; display: block; margin: 1px 0; text-overflow: ellipsis; overflow: hidden; color: #67757c; white-space: nowrap;"></span>
												</div>
											</a>
										</div>
									</li>
									<li>
                                        <a class="nav-link text-center" href="/email/inbox/0"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search  enter"/> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown" th:if="${session.account.email !='游客'}" >
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="${session.account.picPath}" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img th:src="${session.account.picPath}" alt="user"/></div>
                                            <div class="u-text">
                                                <h4 th:text="${session.account.name}"></h4>
                                                <p class="text-muted" th:text="${session.account.email}"></p><a href="/information" class="btn btn-rounded btn-danger btn-sm">查看个人信息</a></div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/information"><i class="ti-user"></i> 查看个人信息</a></li>
                                    <li><a href="/information"><i class="ti-wallet"></i> 查看余额</a></li>
                                    <li><a href="/email/inbox/0"><i class="ti-email"></i> 邮箱</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/information"><i class="ti-settings"></i> 账号设置</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/account/exit"><i class="fa fa-power-off"></i> 退出</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img"> <img th:src="${session.account.picPath}" alt="user" />
                        <!-- this is blinking heartbit-->
                        <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </div>
                    <!-- User profile text-->
                    <div class="profile-text">
                        <h5 th:text="${session.account.name}"></h5>
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                        <a href="/email/inbox/0" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                        <a href="/account/exit" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
                        <div class="dropdown-menu animated flipInY">
                            <!-- text-->
                            <a href="/information" class="dropdown-item"><i class="ti-user"></i> 查看个人信息</a>
                            <!-- text-->
                            <a href="/information" class="dropdown-item"><i class="ti-wallet"></i> 查看账户</a>
                            <!-- text-->
                            <a href="/email/inbox/0" class="dropdown-item"><i class="ti-email"></i> 邮箱</a>
                            <!-- text-->
                            <div class="dropdown-divider"></div>
                            <!-- text-->
                            <a href="/information" class="dropdown-item"><i class="ti-settings"></i> 账户设置</a>
                            <!-- text-->
                            <div class="dropdown-divider"></div>
                            <!-- text-->
                            <a href="/account/exit" class="dropdown-item"><i class="fa fa-power-off"></i> 退出</a>
                            <!-- text-->
                        </div>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">导航</li>
                        <li><a class="has-arrow waves-effect waves-dark" href="/bbs/0" aria-expanded="false"><i class="mdi mdi-evernote"></i><span class="hide-menu">Sex星辰约炮,星辰嫖娼</span></a></li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">视频分类 <span class="label label-rouded label-themecolor pull-right">11</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                               	<li><a href="/listVideo/china/0">国产</a></li>                                             
								<li><a href="/listVideo/china-better/0">国产精品</a></li>
								<li><a href="/listVideo/america/0">欧美</a></li> 
								<li><a href="/listVideo/dongman/0">动漫</a></li> 
								<li><a href="/listVideo/qunjiao/0">群交</a></li> 
								<li><a href="/listVideo/gangjiao/0">肛交</a></li> 
								<li><a href="/listVideo/yanshe/0">颜射</a></li> 
								<li><a href="/listVideo/japan/0">日本</a></li>
								<li><a href="/listVideo/pornhub-asia/0">亚洲自拍</a></li> 
								<li><a href="/listVideo/mote/0">模特</a></li> 
								<li><a href="/listVideo/nenmo/0">嫩模</a></li> 
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">日本女优</span></a>
                            <ul aria-expanded="false" class="collapse">
                               	<li><a href="/listVideo/AmeriIchinose/0">AmeriIchinose</a></li>
								<li><a href="/listVideo/cangjingkong/0">苍井空</a></li>
								<li><a href="/listVideo/boduoyejieyi/0">波多野结衣</a></li>
								<li><a href="/listVideo/taoguhuilixiang/0">桃谷绘里香</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="ti-heart"></i><span class="hide-menu">欧美女优</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/listVideo/anjelica/0">安吉莉卡</a></li>
								<li><a href="/listVideo/belle knox/0">Belle knox</a></li>
								<li><a href="/listVideo/LanaRHoades/0">LanaRHoades</a></li>
								<li><a href="/listVideo/MiaKhalifa/0">MiaKhalifa</a></li>
								<li><a href="/listVideo/RileyReid/0">RileyReid</a></li>
								<li><a href="/listVideo/Mia Malkova/0">Mia Malkova</a></li>
								<li><a href="/listVideo/Brandi Love/0">Brandi Love</a></li>
								<li><a href="/listVideo/Adriana Chechik/0">Adriana Chechik</a></li>
								<li><a href="/listVideo/Nicole Aniston/0">Nicole Aniston</a></li>
								<li><a href="/listVideo/Lena Paul/0">Lena Paul</a></li>
								<li><a href="/listVideo/Lisa Ann/0">Lisa Ann</a></li>
								<li><a href="/listVideo/Alexis Texas/0">Alexis Texas</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">个人信息 <span class="label label-rouded label-danger pull-right"></span></span></a>
                            <ul aria-expanded="false" class="collapse">
                               <li><a href="/information">个人信息</a></li>
								<li><a href="/information">账户余额</a></li>
								<li><a href="/information">个人资产STAR</a></li>
								<li><a href="/information">充值</a></li>
								<li><a href="http://www.luoboka.com/category/D28907B042DC38F3">购卡</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="padding: 0">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                    
                        <div class="card">
                            <div class="row">
                                <div class="col-xlg-12 col-lg-12 col-md-12 bg-light-part b-l">
                                    	<div class="card-body">
                                        <h3 class="card-title">发送一封新的邮件(站内通信,非本站注册账号,收不到邮件)</h3>
                                        <div class="form-group">
                                            <input  id="targetEmail" class="form-control" placeholder="目标账号邮箱,请填写用户名的邮箱 " th:value="${fromEmail}"/>
                                        </div>
                                        <div class="form-group">
                                            <input id="title" class="form-control" placeholder="标题:"/>
                                        </div>
                                        <div class="form-group">
                                        	<textarea id="context" class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
                                        </div>
                                        <button type="button" class="btn btn-success m-t-20" onclick="sendEmail()"><i class="fa fa-envelope-o"></i>发送</button>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
        
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 欢迎来到星辰吧,星辰吧创建2018年9月1日,请您记住这一刻,你将见证一个华人社区的奇迹 </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    	</div>
   	</div>
   
<!--图片裁剪框 end-->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/assets/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/assets/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/skycons/skycons.js"></script>
    <!-- chartist chart -->
    <script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/assets/js/dashboard3.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    
	<script src="/js/cropper.min.js"></script>
	<script src="/commanjs/account.js"></script>
    <script src="/commanjs/util.js"></script>
    <script src="/assets/plugins/summernote/dist/summernote.min.js"></script>
    <style>
    	.input-group-addon{
    		    background-color: #e18e17 !important;
    	}
    </style>
    
    
<script type="text/javascript">
	/* <![CDATA[ */
Date.prototype.format = function(format)
{
 var o = {
 "M+" : this.getMonth()+1, //month
 "d+" : this.getDate(),    //day
 "h+" : this.getHours(),   //hour
 "m+" : this.getMinutes(), //minute
 "s+" : this.getSeconds(), //second
 "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
 "S" : this.getMilliseconds() //millisecond
 }
 if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
 (this.getFullYear()+"").substr(4 - RegExp.$1.length));
 for(var k in o)if(new RegExp("("+ k +")").test(format))
 format = format.replace(RegExp.$1,
 RegExp.$1.length==1 ? o[k] :
 ("00"+ o[k]).substr((""+ o[k]).length));
 return format;
}
	
	function sendEmail(){
		var fromEmail = $("#accountEmail").val()
		var accountid = $("#accountid").val();
		var targetEmail =$("#targetEmail").val()
		var title = $("#title").val()
		var context = $("#context").val()
		if(accountid==null||accountid==''){
			alert("请您先登录");
			window.location.href = "/goLogin"
			return;
		}else{
			$.ajax({
				url:"/email/sendEmail",
				data:{"fromEmail":fromEmail,"targetEmail":targetEmail,
					"title":title,"context":context},
				success:function(data){
					alert(data.information)
					if(data.success ==true){
						window.location.href="/email/inbox/0"
					}
				}
			})
		}
		
		
	}
	

    /*]]> */
</script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
    
</body>

</html>