<!DOCTYPE HTML>
<html>
<head>
<title>约炮神器!</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="../ckplayer/ckplayer/ckplayer.js" charset="UTF-8"></script>
<link href="/css/dashboard.css" rel="stylesheet"/>
<link href="/css/style.css" rel='stylesheet' type='text/css' media="all" />
<script type="text/javascript">
	/* <![CDATA[ */
	var url = window.location.href;
	var id = url.split("id=")[1];
	$(document).ready(function() {
		$("img").addClass("img-rounded");
		$.ajax({
			url : "/video/updataPlayTimes",
			data : {
				"id" : id
			},
			type : "get",
			success : function() {
			}
		});

	});
	$.ajax({
		url : "/video/getVideo",
		data : {
			"id" : id
		},
		success : function(data) {
			debugger;
			if(data.success==false){
				alert(data.information);
				return
			}else{
				var videoObject = {
						container: '#my-video',//“#”代表容器的ID，“.”或“”代表容器的class
						variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
						flashplayer:false,//如果强制使用flashplayer则设置成true
						video:data.object.preUrl//视频地址
					};
				var player=new ckplayer(videoObject);
				$("#title").text(data.title);
			}
			
		}
	});
	/*]]> */
</script>
</head>
  <body>
		<!-- HEADER -->
	   <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
	   		<script type="text/javascript">
	   			$("#header").load("/headerss");
	   		</script>
	   </nav>
	   


   		<div id="leftdh" class="col-sm-3 col-md-2 sidebar">
			<!--左侧导航 -->
			<script type="text/javascript">
				$("#leftdh").load("/leftdh");
			</script>
       	</div>
    
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="show-top-grids">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<a href="/bbs/0"><h3 style="color: #e70a0a">星辰会所提供提供全国一二线城市 省会模特，网红，女主播，空姐，护士，白领，秘书，人妻，00后，潮喷，重口，SM，学生，少妇，人妻，兼职。点击查看详情或加客服微信:  17635596995,星辰会所名誉担保.骗子勿扰,挑战所有套路</h3></a>	
					</div>
						<div controls="controls" id="my-video" class="video-js video-height" src=""
							width="90%"  data-setup="{}"></div>
					</div>
					<div class="clearfix"> </div>
					<div class="published">
							<script>
							/* <![CDATA[ */	
							$(document).ready(function () {
									size_li = $("#myList li").size();
									x=1;
									$('#myList li:lt('+x+')').show();
									$('#loadMore').click(function () {
										x= (x+1 <= size_li) ? x+1 : size_li;
										$('#myList li:lt('+x+')').show();
									});
									$('#showLess').click(function () {
										x=(x-1<0) ? 1 : x-1;
										$('#myList li').not(':lt('+x+')').hide();
									});
								});
								/*]]> */
							</script>
							<div class="load_more">	
								<ul id="myList">
									<li>
										<h4 id="title"></h4>
										<p style="font-size: large;">北京，上海，深圳，广州，昆明，长沙，郑州，武汉，哈尔滨，福州，温州，合肥，南宁，南昌，贵阳，沈阳，长春，天津，杭州，南京，无锡，苏州，香港，澳门，珠海，重庆，成都，厦门，郑州，石家庄，青岛，大连，济南，宁波，西安，太原，三亚，海口等城市均有服务。

全国一二线城市 省会提供模特，网红，女主播，空姐，护士，白领，秘书，人妻，00后，技师，潮喷，重口，SM，学生，少妇，人妻，兼职。

快餐3k起步，过夜1w起，嫌贵者勿扰。</p>
									</li>
									<li>
										<div class="load-grids">
											<div class="load-grid">
												<p>Category</p>
											</div>
											<div class="load-grid">
												<a href="movies.html">Entertainment</a>
											</div>
											<div class="clearfix"> </div>
										</div>
									</li>
								</ul>
							</div>
					</div>
					
					<div class="col-md-3 resent-grid recommended-grid slider-top-grids" th:each="video: ${videos}"  >
							<a class="goVideoPlay" href="javascript:void(0);" onclick="goVideoPlay(this)" th:attr="data-id=${video.id}">
								<div class="resent-grid-poster-img recommended-grid-img" >
									<img alt="" th:src=" @{https://talent-elg.s3.amazonaws.com/{imgkey}(imgkey=${video.picKey})}"/>
								</div>
							</a>
							<div class="resent-grid-info recommended-grid-info">
								<h5><a class="title goVideoPlay" href="javascript:void(0);" onclick="goVideoPlay(this)" th:attr="data-id=${video.id}" th:text="${video.title}"></a></h5>
								<p class="author"><a class="goVideoPlay videoTime" href="javascript:void(0);" onclick="goVideoPlay(this)" th:attr="data-id=${video.id},longtime=${video.uploadTime}" >星辰会所</a></p>
								<p class="views" th:text="${video.playTimes}+'views'"></p>
							</div>
					</div>
					
					
					
					
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<!-- footer -->
			<div class="footer">
				<div class="footer-grids">
					<div class="footer-top">
					</div>
					<div class="footer-bottom">
					<p style="color: white;font-size: large;" >北京，上海，深圳，广州，昆明，长沙，郑州，武汉，哈尔滨，福州，温州，合肥，南宁，南昌，贵阳，沈阳，长春，天津，杭州，南京，无锡，苏州，香港，澳门，珠海，重庆，成都，厦门，郑州，石家庄，青岛，大连，济南，宁波，西安，太原，三亚，海口等城市均有服务。

全国一二线城市 省会提供模特，网红，女主播，空姐，护士，白领，秘书，人妻，00后，技师，潮喷，重口，SM，学生，少妇，人妻，兼职。

快餐3k起步，过夜1w起，嫌贵者勿扰。</p>
					</div>
				</div>
			</div>
			<!-- //footer -->
		</div>
		<div class="clearfix"> </div>
       <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	   <script src="/commanjs/account.js"></script>
	   <script src="/commanjs/util.js"></script>
	   <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>